version: '3'

services:
  ground-pypy:
    build:
      context: .
      args:
        - IMAGE_NAME=${PYPY_IMAGE_NAME}
        - IMAGE_VERSION=${PYPY_IMAGE_VERSION}
    image: lycantropos/ground-pypy:11.0.0
    volumes:
      - ./ground:/opt/ground/ground
      - ./pyproject.toml:/opt/ground/pyproject.toml
      - ./README.md:/opt/ground/README.md
      - ./setup.py:/opt/ground/setup.py
      - ./tests:/opt/ground/tests
    entrypoint: pytest
