version: '3'

services:
  ground-cpython:
    build:
      context: .
      args:
        - IMAGE_NAME=${CPYTHON_IMAGE_NAME}
        - IMAGE_VERSION=${CPYTHON_IMAGE_VERSION}
    image: lycantropos/ground-cpython:11.0.1
    volumes:
      - ./ground:/opt/ground/ground
      - ./pyproject.toml:/opt/ground/pyproject.toml
      - ./README.md:/opt/ground/README.md
      - ./setup.py:/opt/ground/setup.py
      - ./tests:/opt/ground/tests
    entrypoint: pytest
